.about {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 3rem 8%;
  margin: 10vh 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.about-txt {
  display: flex;
  flex-direction: column;
  padding-right: 5vw;
}

.about-imgs {
  width: 400px;
  height: 400px;
  background-image: url("../../public/assets/images/Mario\ and\ Adrian\ A.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  transform: translate(50px, -50px);
}

.image-1 {
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url("../../public/assets/images/Mario\ and\ Adrian\ b.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  transform: translate(-100px, 150px);
}
