footer{
     height: 40vh;
     padding:0 15%  ;
     background-color: aqua;
     
     
}
.col{
     display:flex;
     justify-content: center;
     align-items: center;
}
h4{
     display: inline;
}


.container,.row,.col{
     height: inherit
}

img{
     height:80% ;
}

