main {
  width: 100%;
  padding: 8vh 8vw;
  background-color: #495e57;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.hero-1 {
  color: #edefee;
}

.reserve-btn {
  background-color: #f4ce14;
  color: #333333;
  font-weight: 500;
}

.hero-img {
  margin: 20px;
  height: 400px;
  background-image: url("../../public/assets/images/restauranfood.jpg");
  background-size: cover;
  background-position: 0%;
  border-radius: 16px;
}
